<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407664010338-pkr722lj5ojt25t2b5l21pe2i1qaod10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407664010338-pkr722lj5ojt25t2b5l21pe2i1qaod10</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPS5t1aOI3xB_1fdnfd4xTVoqvm6eKFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>407664010338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.todo</string>
	<key>PROJECT_ID</key>
	<string>todoapp-4e29a</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-4e29a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407664010338:ios:28fbdc902421adb7241d3b</string>
</dict>
</plist>